<%- include('./partials/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-md-12 my-4"
                style="background: linear-gradient(to right, #454545, #707070); border-radius: 10px; padding: 20px; position: relative;">
                <button class="btn btn-secondary"
                    style="position: absolute; top: 10px; right: 10px; border: 1px solid white;">
                    POST ID: <%= post.id %>
                </button>

                <h2 style="color: white;">
                    <%= post.title %>
                </h2>
                <div class="mb-4" style="margin-top: 20px;">
                    <div class="card" style="background: white; border-radius: 10px; padding: 10px;">
                        <p class="card-text" style="color: #454545;">
                            <%= post.content %>
                        </p>
                    </div>
                </div>
                <div class="mb-3">
                    <p class="form-label" style="color: white; font-weight: bold;">Author: <%= post.author %>
                    </p>
                    <p class="form-label" style="color: white; font-weight: bold;">Date: <%= post.date %>
                    </p>
                </div>
                <a href="/edit/<%= post.id %>" class="btn btn-primary">Edit Post</a>
                <a href="/delete/<%= post.id %>" class="btn btn-primary">Delete Post</a>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>